<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>


<div class="message-contet">

  <p>Hey {{name}}!</p><br>
  <p>We received a solicitation to redefine your password. <br><br>
  <p>Click on the link below to proceed with the process: </p><br><br>

  <a href="{{link}}">RESET PASSWORD</a>


  <p>Please DO NOT share it with anyone.</p>
</div>
